.create_wrapper {
  height:100vh;
  width: 100vw;
  background-color: #ccffff;
  padding-top: 18%;
  .create_box {
    height: 20%;
    width: 50%;
    background-color: azure;
    margin:auto;
    border-radius: 20px;
    .kanryou {
      margin:auto;
      font-size: 30px;
      line-height: 100px;
      margin-left: 33%;
    }
    .owari {
      padding:10px 20px;
      background-color: lightgreen;
      border-radius: 20px;
      bottom:0;
      text-align: center;
      line-height: 50px;
      text-decoration: none;
      color: azure;
      font-size: 30px;
      margin-left: 25%;
    }
  }
}